<!--Theme GMAPS + Location  Details -->
<ion-page class="ion-page" *ngIf="viewEntered">
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--Content -->
  <ion-content scrollEvents="true" parallax-header>
    <div class="header-image">
      <agm-map *ngIf="data != null" [latitude]="data.map.lat" [longitude]="data.map.lng" [zoom]="data.map.zoom" [mapTypeControl]="data.map.mapTypeControl" [streetViewControl]="data.map.streetViewControl">
        <agm-marker [latitude]="data.map.lat" [longitude]="data.map.lng">
        </agm-marker>
      </agm-map>
    </div>
    <ion-grid class="ion-no-padding" *ngIf="data != null">
      <ion-row>
        <ion-col size="12" class="ion-no-padding">
          <ion-card class="ion-no-padding no-box-shadow ion-no-margin">
            <!--Parallax Title-->
            <ion-item lines="none" class="transparent">
              <ion-label class="ion-padding-top ion-padding-end">
                <h1 class="ion-text-wrap text-size-xl text-color-primary font-bold">{{data.title}}</h1>
              </ion-label>
            </ion-item>

            <ion-item class="transparent">
              <ion-label>
                <!--Parallax Rateing-->
                <span *ngFor="let item of data.iconsStars;let i = index" (click)="onRatesFunc(data.iconsStars, i, $event)">
                  <i *ngIf="item.isActive" class="icon {{item.iconActive}} icon-font-md icon-color-accent"></i>
                  <i *ngIf="!item.isActive" class="icon {{item.iconInactive}} icon-font-md icon-color-accent"></i>
                </span>
                <span class="margin-start text-font-sm font-regular text-color-secondary ion-padding-start">{{data.reviews}}</span>
              </ion-label>
            </ion-item>
            <ion-card-content class="ion-no-padding">
              <ion-item class="transparent">
                <ion-label>
                  <h1 class="ion-no-margin text-color-primary text-size-md font-regular ion-text-wrap">{{data.titleDescription}}</h1>
                  <p class="ion-text-wrap text-color-secondary font-light text-size-xs padding-top">{{data.contentDescription}}</p>
                </ion-label>
              </ion-item>
              <!--- Info Section -->
              <ion-list>
                <ion-item class="transparent">
                  <i slot="start" class="icon {{data.iconLoacation}} icon-font-md icon-color-accent"></i>
                  <p class="ion-no-margin font-regular text-size-xs text-color-primary">{{data.iconLoacationText}}</p>
                </ion-item>
                <ion-item class="transparent">
                  <i slot="start" class="icon {{data.iconWatch}} icon-font-sm icon-color-accent"></i>
                  <p class="ion-no-margin font-regular text-size-xs text-color-primary">{{data.iconWatchText}}</p>
                </ion-item>
                <ion-item class="transparent">
                  <i slot="start" class="icon {{data.iconPhone}} icon-font-sm icon-color-accent"></i>
                  <p class="ion-no-margin font-regular text-size-xs text-color-primary">{{data.iconPhoneText}}</p>
                </ion-item>
                <ion-item class="transparent">
                  <i slot="start" class="icon {{data.iconEarth}} icon-font-sm icon-color-accent"></i>
                  <p class="ion-no-margin font-regular text-size-xs text-color-primary">{{data.iconEarthText}}</p>
                </ion-item>
                <ion-item class="transparent">
                  <i slot="start" class="icon {{data.iconEmail}} icon-font-sm icon-color-accent"></i>
                  <p class="ion-no-margin font-regular text-size-xs text-color-primary">{{data.iconEmailText}}</p>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
