<!--Theme Profile- Profile With Slider-->
<ion-content class="ion-no-padding" *ngIf="viewEntered">
  <ion-grid class="ion-no-padding" *ngIf="data != null">
    <ion-row class="ion-no-padding">
      <ion-col size="12">
        <ion-card class="no-box-shadow ion-text-center no-border-radius ion-no-margin">
          <ion-avatar>
            <img [src]="data.image" alt="">
          </ion-avatar>
          <ion-card-content class="ion-text-center">
            <h1 class="text-size-md text-color-primary font-light on-text-wrap">{{data.title}}</h1>
            <p class="text-size-xs text-color-secondary font-light ion-text-wrap">{{data.subtitle}}</p>
          </ion-card-content>
          <div class="social-share">
            <!-- Followers-->
            <ion-item class="transparent" lines="none" (click)="buttonClick()">
              <ion-label class="ion-text-center">
                <span class="text-size-xs text-color-primary font-light">{{data.valueFollowers}}</span>
                <div clearfix></div>
                <h2 class="text-size-xs text-color-primary font-light">{{data.followers}}</h2>
              </ion-label>
            </ion-item>
            <!-- Following -->
            <ion-item class="transparent" lines="none" (click)="buttonClick()">
              <ion-label class="ion-text-center">
                <span class="text-size-xs text-color-primary font-light">{{data.valueFollowing}}</span>
                <div clearfix></div>
                <h2 class="text-size-xs text-color-primary font-light">{{data.following}}</h2>
              </ion-label>
            </ion-item>
            <!-- Post -->
            <ion-item class="transparent" lines="none" (click)="buttonClick()">
              <ion-label class="ion-text-center">
                <span class="text-size-xs text-color-primary font-light">{{data.valuePosts}}</span>
                <div clearfix></div>
                <h2 class="text-size-xs text-color-primary font-light">{{data.posts}}</h2>
              </ion-label>
            </ion-item>
          </div>
          <ion-row class="ion-padding">
            <ion-col size="6">
              <ion-button class="button-default ion-text-capitalize" expand="block">
                {{data.follow}}</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button class="button-default ion-text-capitalize" expand="block">
                {{data.message}}</ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="12" class="ion-padding">
        <!-- Name Category -->
        <h1 class="ion-text-uppercase text-size-xs text-color-secondary ion-no-margin font-bold ion-text-center">{{data.category}}</h1>
      </ion-col>
      <!-- Slider -->
      <ion-col class="ion-no-padding" size="12">
        <ion-slides pager="true">
          <ion-slide *ngFor="let item of data.items" (click)="onItemClickFunc(item, $event)">
            <ion-col size="12">
              <ion-card class="ion-padding no-box-shadow ion-text-center no-border-radius ion-no-margin">
                <img class="border-radius" [src]="item.backgroundCard">
                <ion-card-content class="ion-text-center">
                  <span class="text-size-xs text-color-primary font-light ion-text-capitalize">{{item.category}}</span>
                  <h1 class="ion-text-wrap text-size-md text-color-primary font-light ion-padding-top">{{item.title}}</h1>
                </ion-card-content>
                <ion-button class="button-icon ion-text-capitalize"(click)="onLikeFunc(item, $event)">
                  <ion-icon class="icon-font-sm icon-color-primary" slot="start" [ngClass]="{'active' : item.like.isActive}" [name]="item.like.icon"></ion-icon>
                  {{item.like.number}} {{item.like.text}}
                </ion-button>
                <ion-button class="button-icon ion-text-capitalize" (click)="onCommentFunc(item, $event)">
                  <ion-icon class="icon-font-sm icon-color-primary" slot="start" [name]="item.comment.icon"></ion-icon>
                  {{item.comment.number}} {{item.comment.text}}
                </ion-button>
              </ion-card>
            </ion-col>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="12" class="ion-margin-top ion-padding-top"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
