/* Style component 2
========================================================*/
ion-list {
  overflow: visible;

  ion-item {
    overflow: visible;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 2px;
      background: var(--cs-background-accent);
      top: 16px;
      left: 52px;
      height: 100%;
    }

    ion-avatar {
      opacity: 1;
    }
  }
}

ion-list > ion-item:last-child {
  &:before {
    display: none;
  }
}
