<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'settings' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>
  <!-- <ion-toolbar>
    <ion-searchbar showCancelButton="focus" [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
  </ion-toolbar> -->
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label>Show only unallocated works</ion-label>
      <ion-toggle [(ngModel)]="filters.unallocatedOnly"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Show all open works</ion-label>
      <ion-select placeholder="..." [(ngModel)]="filters.statusCode">
        <ion-select-option *ngFor="let status of statuses" [value]="status.id">{{status.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Select Work Type</ion-label>
      <ion-select placeholder="..." [(ngModel)]="filters.orderTypeIds" multiple="true">
        <ion-select-option *ngFor="let type of types" [value]="type.id">{{type.code}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Select Cost Group</ion-label>
      <ion-select placeholder="..." [(ngModel)]="filters.costGroups" multiple="true">
        <ion-select-option *ngFor="let cost of costs" [value]="cost.id" >{{cost.tag}}</ion-select-option>        
      </ion-select>
    </ion-item>

  </ion-list>


</ion-content>