<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ type == 'w' ? ('Unallocated' | translate) : ('service' | translate) }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="moreMenu($event)">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar showCancelButton="focus" [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>


    <ion-item class="ion-text-wrap" (click)="buttonAction($event, item)" detail="false" *ngFor="let item of plist | filter:filterTerm">
      <ion-icon *ngIf="type == 'c'" slot="start" name="ellipsis-vertical-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>{{item.externalId}} {{item.property}} <ion-icon slot="end" name="ellipse" [style.color]="item.boxColor" [style.float]="'right'" ></ion-icon> </h2>
        <p>{{item.building}}</p>
        <p>{{item.orderDescription}}</p>
      </ion-label>    
    </ion-item>
    

    <ion-item *ngIf="plist.length == 0">
      <p>{{ 'no_results_found' | translate }}</p>
    </ion-item>

  </ion-list>


</ion-content>