<!-- <ion-header>
  <ion-toolbar>
    <ion-title>SplashScreen</ion-title>
  </ion-toolbar>
</ion-header> -->
<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <!-- <img src="assets/logo.svg"> -->
    <ion-grid >
      <ion-row>
        <ion-col size="12" class="ion-align-self-end">
          <div class="ion-text-center">
            <h3 class="splash-font-size text-color-light ion-text-uppercase">{{ 'app_title' | translate }}</h3>
          </div>          
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<!-- <ion-content [fullscreen]="true" class="splash-content">
  <ion-img class="fullpage-image" [src]="link"></ion-img>
  <h2 class="prompt-messages">{{ messages | translate }}</h2>
</ion-content> -->