<!-- NEW PASSWORD --COMPONENT 2 -->
<ion-page class="ion-page">
  <!-- Header -->
  <ion-header>
    <ion-toolbar class="transparent">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
    <!-- Content -->
    <ion-content *ngIf="data != null" class="transparent">
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding" *ngIf="data != null">
          <ion-col class="ion-no-padding background-size" size="12" [ngStyle]="{'background-image': 'url(' + data.background + ')'}">
            <h1 class="ion-text-wrap text-size-xl text-color-light font-bold title">{{data.title}}</h1>
          </ion-col>
          <ion-col class="ion-padding-horizontal" size="12" size-md="8" push-md="2">
            <!---Form-->
            <form>
              <!---Input field Email-->
              <ion-item class="ion-no-padding transparent" input lines="none">
                <ion-label class="text-size-xxs text-color-secondary font-regular" position="stacked">{{data.labelPassword}}</ion-label>
                <ion-input required type="password" [ngModelOptions]="{standalone: true}" [placeholder]="data.password" [(ngModel)]="item.password"></ion-input>
                <ion-icon *ngIf="!isPasswordValid" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
              </ion-item>
              <!---Input field Email-->
              <ion-item class="ion-no-padding transparent" input lines="none">
                <ion-label class="text-size-xxs text-color-secondary font-regular" position="stacked">{{data.labelPasswordNew}}</ion-label>
                <ion-input required type="password" [placeholder]="data.confrim" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.confrim"></ion-input>
                <ion-icon *ngIf="!isConfrimValid" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
              </ion-item>
              <!---Send button-->
              <ion-button expand="block" class="ion-margin-top button-default ion-text-capitalize ion-margin-bottom" (click)="onDoneFunc()">
                {{data.done}}
              </ion-button>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
