<ion-list *ngIf="flag == 'C'">
  <ion-item (click)="close('M')">{{'materials' | translate }}</ion-item>
  <!-- <ion-item (click)="close('N')">{{'notes' | translate }}</ion-item> -->
  <ion-item (click)="close('P')">{{'files' | translate }}</ion-item>
  <ion-item (click)="close('T')">{{'take_photo' | translate }}</ion-item>
</ion-list>


<ion-list *ngIf="flag == 'ONW'">
  <ion-item (click)="close('R')">{{'refresh' | translate }}</ion-item>
</ion-list>

<ion-list *ngIf="flag == 'UNW'">
  <ion-item (click)="close('S')">{{'settings' | translate }}</ion-item>
  <ion-item (click)="close('M')">{{'meters' | translate }}</ion-item>
</ion-list>

<ion-list *ngIf="flag == 'UNWC'">
  <ion-item (click)="close('I')">{{'info' | translate }}</ion-item>
  <ion-item (click)="close('S')">{{'settings' | translate }}</ion-item>
  <!-- <ion-item (click)="close('M')">{{'meters' | translate }}</ion-item> -->
</ion-list>

<ion-list *ngIf="flag == 'CSW'">
  <ion-item (click)="close('R')">Request</ion-item>
  <ion-item (click)="close('S')">Service</ion-item>
  <ion-item (click)="close('M')">Meters</ion-item>
  <ion-item (click)="close('O')">Out</ion-item>
  <ion-item (click)="close('V')">View Report</ion-item>
  <ion-item (click)="close('C')">Create</ion-item>
  <ion-item (click)="close('T')"><ion-icon name="time-outline"></ion-icon></ion-item>
</ion-list>