<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon color="light" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'comments' | translate }}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  
    <ion-list>
      <ion-item>        
        <ion-textarea type="number" [(ngModel)]="entity.comment" placeholder="..."></ion-textarea>
      </ion-item>
      <ion-button [disabled]="!entity.comment " expand="block" color="postgreen" (click)="save()">{{ 'save' | translate }}</ion-button>
    </ion-list>
  

</ion-content>
