<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon color="light" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'meters' | translate }}</ion-title>

  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar showCancelButton="focus" [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of plist | filter:filterTerm" (click)="openDetails(item)">
      <ion-label class="ion-text-wrap">
        <h2>{{ item.code }}, {{ item.type }}</h2>        
        <p>{{item.freeText}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>

