<!-- COMMENTS --COMPONENT 1 -->
<ion-grid *ngIf="data != null" class="ion-no-padding">
  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-list>
        <ion-list-header class="ion-margin-bottom border">
          <h2 class="text-size-xl text-color-primary font-bold">{{data.allComments}}</h2>
        </ion-list-header>
        <ion-item class="transparent" *ngFor="let item of data.items" (click)="onItemClickFunc(item, $event)">
          <ion-avatar slot="start" class="ion-align-self-start">
            <img [src]="item.image">
          </ion-avatar>
          <ion-label>
            <h3 class="text-size-md text-color-primary font-light">{{item.title}}</h3>
            <h3 class="text-size-xs text-color-secondary font-light">{{item.time}}</h3>
            <p class="ion-text-wrap ion-padding-top text-size-p text-color-secondary font-light">
              {{item.description}}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
