<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon color="light" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'materials' | translate }}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">
        <h2>{{'stock' | translate }}</h2>
      </ion-label>
      <ion-select [value]="selectedStorage?.id" (ionChange)="changeSelectedStorage($event)">
        <ion-select-option *ngFor="let storage of storages" [value]="storage.id">{{storage.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div>
    <ion-item>
      <ion-label position="stacked">
        <h2>{{'description' | translate }}</h2>
      </ion-label>
      <ion-input [readonly]=" !edit_selector" placeholder="..." [value]="selector?.display" (ionInput)="descriptionChange($event)" #description></ion-input>
    </ion-item>
    <!-- <div class="ng-autocomplete">
      <ng-autocomplete
        [data]="data"
        [searchKeyword]="keyword"
        placeholder="..."
        (selected)='selectEvent($event)'
        (inputChanged)='onChangeSearch($event)'
        (inputFocused)='onFocused($event)'
        historyIdentifier="data"
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate">
      </ng-autocomplete>
  
      <ng-template #itemTemplate let-item>
        <div class="border">
          <a [innerHTML]="item.display" style="color: lightslategrey"></a>
      </div>
      </ng-template>
  
      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>    -->
  </div> 
    <ion-item>
      <ion-label position="stacked">
        <h2>{{'quantity' | translate }}</h2>
      </ion-label>
      <ion-input type="number" [(ngModel)]="qty" placeholder="..."></ion-input>
    </ion-item>
    <ion-item (click)="hideOptions = !hideOptions">
      <ion-label>{{ 'more_information' | translate }}</ion-label>
      <ion-icon slot="end" [name]="hideOptions ? 'add-circle-outline' : 'remove-circle-outline'"></ion-icon>
    </ion-item>

    <ion-item [hidden]="hideOptions">
      <ion-label class="ion-text-wrap">
        <p> <ion-text class="ion-text-bold">{{'code' | translate }}</ion-text> : {{selector?.productCode}}</p>
        <p> <ion-text class="ion-text-bold">{{ 'unit' | translate }}</ion-text> : {{selector?.unit}}</p>
        <p> <ion-text class="ion-text-bold">{{ 'quantity' | translate }}</ion-text> : {{selector?.quantity}}</p>
      </ion-label>
      
    </ion-item>

  </ion-list>
    

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openSelectors($event)">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
<ion-footer>
  <ion-button [disabled]="edit_selector ? false : !selector?.id" expand="block" color="tertiary" (click)="save($event)">{{ 'save' | translate }}</ion-button>
  <ion-button [disabled]="edit_selector ? false : !selector?.id" expand="block" color="tertiary" (click)="next($event)">{{ 'save_n_next' | translate }}</ion-button>
</ion-footer>