<!-- Header -->
<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">Packages Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionChange)="onSearchTerm($event)" (ionClear) ="getPackageDetails()" 
  placeholder="Search Packages"></ion-searchbar>
  
  <!-- CHECK BOX --COMPONENT 2 -->
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col class="ion-no-padding" size="12" *ngIf="data != null">
      <ion-list>
        <ion-item class="transparent" *ngFor="let entry of data" (click)="addItemClick(entry)" >
          <ion-label>
            <h2 class="ion-text-wrap text-size-md text-color-primary font-light">{{entry.packageNo}}</h2>
            <h3 class="ion-text-wrap text-size-xs text-color-primary font-light">{{entry.description}}</h3>
            <h3 class="ion-text-wrap text-size-xs text-color-primary font-light">{{entry.poNo}}</h3>
          </ion-label>
          <h3 class="ion-text-wrap ion-padding-end text-size-xs text-color-secondary font-light">{{entry.progress === 'Stored'?entry.location:entry.progress}}</h3>
          <div><ion-checkbox [(ngModel)]="entry.isChecked"></ion-checkbox></div>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="itemClicked" >
  <ion-fab-button>
    <ion-icon name="add" (click)="bookNow()"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
