<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'customers' | translate }}</ion-title>
  </ion-toolbar> 

<ion-toolbar>
  <ion-searchbar showCancelButton="focus" (ionChange)="ionChange($event)" animated="true"></ion-searchbar>
</ion-toolbar>
</ion-header>

<ion-content>

<ion-list>
<div *ngFor="let item of plist">
  <ion-item class="ion-text-wrap" *ngIf="item.name != '' " (click)="openWorks(item)" 
    detail="true">
    <ion-label class="ion-text-wrap">
      <h2>{{item.name}} </h2>
        <p>{{item.streetAddress}} {{ item.city }}</p>
    </ion-label>
  </ion-item>
</div>
</ion-list>
<ion-infinite-scroll (ionInfinite)="(offset != -1) ? loadMore($event) : $event.target.complete()">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>

<!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab> -->


</ion-content>
