<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'qr_code' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <ion-list>
            <ion-item>
                <ion-label class="ion-text-wrap">
                    <h2>{{projectData?.name}}</h2>
                    <p>{{ projectData?.completeAddress }}</p>

                </ion-label>
                <!-- <small slot="end" class="ion-margin-end ion-margin-start">{{ projectData?.endDate | date: 'hh:mm' }}</small> -->
            </ion-item>
            <ion-item>
                <ion-label class="ion-text-wrap">
                    <h2>{{user?.username}}</h2>
                </ion-label>
                <small slot="end" class="ion-margin-end ion-margin-start" *ngIf="inTime">{{ inTime | date:'hh:mm' }}</small>
            </ion-item>
            <ion-item detail="true" (click)="selectEntity()">
                <ion-label class="ion-text-wrap">
                    <h2>{{ 'litteras' | translate }}</h2>
                    <p>{{ entity ? entity.name : 'select_entity' | translate }}</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label class="ion-text-wrap" position="stacked">
                    <h1 style="font-size: 21px;">{{ 'description' | translate }}</h1>
                </ion-label>
                <ion-input placeholder="{{ 'description' | translate }}" [(ngModel)]="description" name="description" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>

            <ion-item (click)="hideAllowence = !hideAllowence">
                <ion-label>{{ 'allowence' | translate }}</ion-label>
                <ion-icon slot="end" [name]="hideAllowence ? 'add-circle-outline' : 'remove-circle-outline'"></ion-icon>
            </ion-item>

            <ion-item [hidden]="hideAllowence">
                <ion-label class="ion-text-wrap" position="stacked">
                    {{ 'km_billable' | translate }}
                </ion-label>
                <ion-input placeholder="{{ 'km_billable' | translate }}" [(ngModel)]="km_billable" name="km_billable" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <ion-item [hidden]="hideAllowence">
                <ion-label class="ion-text-wrap" position="stacked">
                    {{ 'km_work' | translate }}
                </ion-label>
                <ion-input placeholder="{{ 'km_work' | translate }}" [(ngModel)]="km_work" name="km_work" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <ion-item detail="true" [hidden]="hideAllowence">
                <ion-label class="ion-text-wrap" position="stacked">
                    <h2>{{ 'daily_allowence' | translate }}</h2>
                </ion-label>
                <ion-select cancelText="{{ 'cancelText' | translate }}" okText="{{ 'okText' | translate }}" placeholder="{{ 'select_one' | translate }}" [(ngModel)]="daily_allowence" name="daily_allowence" [ngModelOptions]="{standalone: true}">
                    <!-- <ion-select-option value="0">{{ 'select_one' | translate }}</ion-select-option> -->
                    <ion-select-option value="1">{{ 'partial' | translate }}</ion-select-option>
                    <ion-select-option value="2">{{ 'complete' | translate }}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item detail="true" [hidden]="hideAllowence">
                <ion-label class="ion-text-wrap" position="stacked">
                    <h2>{{ 'lunch_allowence' | translate }}</h2>
                </ion-label>
                <ion-select cancelText="{{ 'cancelText' | translate }}" okText="{{ 'okText' | translate }}" placeholder="{{ 'select_one' | translate }}" [(ngModel)]="lunch_allowence" name="lunch_allowence" [ngModelOptions]="{standalone: true}">
                    <!-- <ion-select-option value="0">{{ 'select_one' | translate }}</ion-select-option> -->
                    <ion-select-option value="1">{{ 'yes' | translate }}</ion-select-option>
                    <ion-select-option value="2">{{ 'no' | translate }}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-button [disabled]="!entity || inTime" [hidden]="projectData?.start == true" (click)="qrcodeIn()" expand="block" color="primary" shape="round">{{ 'qr_in_button' | translate }}</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button [disabled]="!entity || !inTime" [hidden]="projectData?.start == false" (click)="qrcodeOut()" expand="block" color="danger" shape="round">{{ 'qr_out_button' | translate }}</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>


        </ion-list>
    </form>
</ion-content>