/*  #Style Payment - Payment
================================================*/
ion-grid,
ion-row {
  height: 100%;
}

.item-has-focus,
.item-has-value {
  ion-input {
    border-bottom: 1px solid var(--cs-background-accent);
  }

  ion-datetime {
    border-bottom: 1px solid var(--cs-background-accent);
  }
}

ion-item {
  --inner-padding-end: 0;

  ion-input {
    --background: var(--cs-background-primary) !important;
    border-bottom: 1px solid var(--cs-background-border);
  }

  ion-datetime {
    --padding-start: 0;
    width: 100%;
    border-bottom: 1px solid var(--cs-background-border);
  }
}
