.cal-heading{
    margin-top: 8px !important;
    font-size: 20px;
}


// .weekcolor{
//     background-color: yellow;
// }

// .daycolor{
//     background-color: yellowgreen;
// }

// .monthcolor{
//     background-color: blue;
// }

.no-overflow{
    overflow: hidden;
}