<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="back({data: 'A'})">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ 'litteras' | translate }}</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar showCancelButton="focus" [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-radio-group [value]="selectedEntity">
            <ion-item *ngFor="let item of entities | filter:filterTerm" (click)="selectEntity(item)">
                <ion-label class="ion-text-wrap">
                    <h2>{{item.name}}</h2>
                </ion-label>
                <ion-radio slot="end" value="{{item.id}}"></ion-radio>
            </ion-item>
        </ion-radio-group>

    </ion-list>

</ion-content>