/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.ion-text-bold{
    font-weight: bold;
}

.small-modal{
    background: rgba(0,0,0,0.2);
    .modal-wrapper {
        position: absolute;
        bottom: 0;
        min-height: initial;
        top: initial;
        height: 50%;
    }
}

.monthview-selected {
    background-color:#FFFF !important;
    color:#000 !important;
    font-weight:bold !important;
}
.monthview-primary-with-event{
    background-color: #fff !important;
}
.monthview-primary-with-event.monthview-selected{
    color: #fff !important;
}
.autocomplete-container .suggestions-container{
    position: relative;
    z-index: 3;
}

autocomplete-container .suggestions-container ul li a {
    padding: 14px 15px;
    display:inline-block !important;
    text-decoration: none;
    cursor: pointer;
    color: rgba(0,0,0,.87);
    font-size: 15px;
    position: relative !important;
    z-index: 5 !important;
  }
// .monthview{
//     background-color: yellow;
// }

// .weekview-allday-content-table .calendar-event-inner {
//     background-color: red !important;
//   }


// .calendar-event-inner{
//     overflow: hidden;
//     background-color: #ff3b30 !important;
//     color: white;
//     height: 500px;
//     width: 100%;
//     padding: 2px;
//     line-height: 15px;
//     text-align: initial;
// }

.centerText{
    --background: #161e2c!important;   
    --color:#FF0000!important;
    --border-radius:5px!important;
   }