<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Content -->
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
          <ion-list lines="none">
            <ion-item class="transparent" *ngFor="let item of items">
              <ion-icon [name]="item.icon" slot="start"></ion-icon>
              {{item.title}}
              <div class="item-note" slot="end">
                {{item.note}}
              </div>
            </ion-item>
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
