<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>RTL + Color change</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item class="transparent">
          <ion-lable class="text-size-xs text-color-primary font-bold ion-padding-end">Testing our application with Rtl (enable)</ion-lable>
          <ion-checkbox slot="end" [(ngModel)]="rtlChecked" (ionChange)="ionChange($event)"></ion-checkbox>
        </ion-item>
        <ion-item class="transparent">
          <h1 class="text-size-lg text-color-primary font-bold">After changing rtl, please restart app.</h1>
        </ion-item>
        <!--- Button color combination -->
        <ion-col size="12">
          <ion-button class="ion-margin-top button-default java" expand="block" (click)="changeTheme('java')">
           Java
          </ion-button>
          <ion-button class="ion-margin-top button-default malibu" expand="block" (click)="changeTheme('malibu')">
            Malibu
          </ion-button>
          <ion-button class="ion-margin-top button-default energy-yellow" expand="block" (click)="changeTheme('energy-yellow')">
            Energy Yellow
          </ion-button>
          <ion-button class="ion-margin-top button-default terracotta" expand="block" (click)="changeTheme('terracotta')">
            Terracotta
          </ion-button>
          <ion-button class="ion-margin-top button-default turquoise" expand="block" (click)="changeTheme('turquoise')">
            Turquoise
          </ion-button>
          <ion-button class="ion-margin-top button-default san-marino" expand="block" (click)="changeTheme('san-marino')">
            San Marino
          </ion-button>
          <ion-button class="ion-margin-top button-default pizazz" expand="block"  (click)="changeTheme('pizazz')">
           Pizazz
          </ion-button>
          <ion-button class="ion-margin-top button-default red-orange" expand="block" (click)="changeTheme('red-orange')">
            Red Orange
          </ion-button>
          <ion-button class="ion-margin-top button-default supernova" expand="block" (click)="changeTheme('supernova')">
            Supernova
          </ion-button>
          <ion-button class="ion-margin-top button-default emerald" expand="block" (click)="changeTheme('emerald')">
            Emerald
          </ion-button>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
